*{
    margin: 0;
    padding: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(4, 4, 54, 0.904);
    color: white;
    border-bottom: 2px solid black;
}
ul{
    display: flex;
    gap: 50px;
    /* margin-left: %; */
}
li{
    font-size: 20px;
    list-style: none;
    
    
}
.it{
    text-decoration: none;
    color: white;
}
.but{
margin-right: 20px;
}

.but button{
    padding: 5px;
    width: 120px;
    color: white;
    font-size: 16px;
    background-color: rgb(221, 76, 23);
    border: 2px solid black;
    border-radius: 6px;
}