.flex{
 display: grid;
 margin: auto;
 width: 85%;
 gap: 20px;
 margin-top: 30px;
 grid-template-columns: auto auto auto;
 background-color: black;
}
.h{
    margin-top: 40px;
    text-align: center;
}

.ig img{
    width: 360px;
    height: 240px;
    margin-top: 10px;
}
.ig h2{
    color: white;
    font-size: 17px;
}