li {
    width: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid white;
    color: white;
    font-size: 18px;
    margin-left: 38%;
    margin-top: 30px;
    text-align: left;
    padding: 5px;
   
}
